@model BatcoinMarket.Models.RegisterViewModel

@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-default">Register</button>
            }
</section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}