<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Batcoin Market", "Transfer", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Transfer", "Transfer", "Home")</li>
                    <li>@Html.ActionLink("Transfer2", "Transfer2", "Home")</li>
                    <li>@Html.ActionLink("Store", "Store", "Home")</li>
                </ul>
                @Html.Action("AccountInfo", "Home")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-md-10">
            @RenderBody()
        </div>
        <div class="col-md-2">
            <img src="@Url.Content("~/Content/batcoin.jpg")" width="250" alt="" />
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
